$main-dark: #998675;
$main-light: #c7b299;
$grey: #fbfaf8;
$white: #fff;
$footer-light: #191919;
$footer-dark: #111111;

$gradient: linear-gradient(
  to right,
  #211b19,
  #251d1a,
  #2a201c,
  #2e221d,
  #32251e,
  #36271f,
  #392921,
  #3d2b22,
  #412d23,
  #452f24,
  #4a3226,
  #4e3427
);
