@import "breakpoints";

.container {
  padding-left: 375px;
  padding-right: 375px;
  @include mq(1750) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @include mq($tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
