@import "breakpoints";
@import "colors";

.container {
  padding-left: 375px;
  padding-right: 375px;
  @include mq($desktop-lg) {
    padding-left: 150px;
    padding-right: 150px;
  }
  @include mq($menuBreakpoint) {
    padding-left: 100px;
    padding-right: 100px;
  }
  @include mq($lap-small) {
    padding-left: 75px;
    padding-right: 75px;
  }
  @include mq($tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.section--single {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @extend .container;
}

.section-title {
  font-family: "Raleway";
  font-weight: 600;
  @extend .text-lg;
  margin-bottom: 20px;
  text-align: center;
  color: #555555;
}

.section-subtitle {
  font-family: "Montserrat";
  margin-bottom: 40px;
  color: #8c8c8c;
  width: fit-content;
  max-width: 757px;
  text-align: center;
  @extend .text-sm;
}

.button--main {
  background-color: $main-dark;
  border: none;
  border-radius: 3px;
  width: 170px;
  height: 53px;
  font-family: "Raleway";
  color: $white;
  font-weight: 900;
  border-bottom: 3px solid #736357;
  @extend .text-xs;
  transition: background-color 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  @include hover {
    background-color: $main-light;
    cursor: pointer;
  }
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
  gap: 20px;
  margin-bottom: 40px;

  @include mq($phone) {
    grid-template-columns: 1fr;
  }

  .item__image {
    width: 100%;
    height: 237px;
    object-fit: cover;
  }
  .item__wrapper {
    background-color: #fbfaf8;
    padding: 30px 29px 27px 29px;
    position: relative;
  }
  .item__title {
    font-family: "Raleway";
    color: $main-light;
    font-weight: 600;
    margin-bottom: 10px;
    // margin-bottom: 20px; this should be the value...
    @extend .text-md;
  }
  .item__category {
    font-family: "Montserrat";
    font-weight: 500;
    @extend .text-xs;
  }
}

.logo {
  display: flex;
  align-items: center;
  color: $white;
  font-family: "Raleway";
  font-size: 34px;
  transition: color 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  @include hover {
    color: $main-light;
  }
}
