.about {
  @extend .container;
  @extend .full-w-h;
  @extend .flex-column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: #fbfaf8;
  padding-top: 83px;

  .section-title {
    @extend .text-lg;
    font-family: "Raleway";
    font-weight: 600;
    margin-bottom: 20px;
    color: $grey-text;
  }

  .section-subtitle {
    @extend .text-sm;
    font-family: "Montserrat";
    margin-bottom: 40px;
    color: #8c8c8c;
  }

  .about__images {
    height: 482px;
    width: 100%;
    position: relative;
    @include mq($tablet) {
      height: 325px;
    }
  }

  .about__image {
    position: absolute;
    width: fit-content;
    height: 100%;
    &:nth-of-type(1) {
      left: 0;
      bottom: 0;
      height: 400px;
    }
    &:nth-of-type(2) {
      @extend .center-absolute;
      z-index: 1;
    }
    &:nth-of-type(3) {
      right: 0;
      bottom: 0;
      height: 400px;
    }
    @include mq($tablet-l) {
      object-fit: cover;
      &:nth-of-type(1) {
        height: 300px;
      }
      &:nth-of-type(2) {
        width: 75%;
      }
      &:nth-of-type(3) {
        height: 300px;
        width: 80%;
      }
    }

    @include mq($tablet) {
      &:nth-of-type(1) {
        height: 250px;
      }
      &:nth-of-type(2) {
        width: 75%;
      }
      &:nth-of-type(3) {
        height: 250px;
        width: 80%;
      }
    }
  }

  @include mq($tablet) {
    padding-top: 60px;
  }
}
