.banner {
  height: 150px;
  width: 100%;
  margin-bottom: 81px;
  background: $gradient;
  display: flex;
  @extend .container;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .banner--sm {
    @include mq($tablet) {
      height: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      gap: 20px;
    }
  }

  .banner__title {
    font-family: "Raleway";
    font-size: 28px;
    color: $white;
    span {
      color: $main-light;
    }
    @include mq($tablet) {
      font-size: 24px;
    }
  }

  .banner__text {
    font-family: Montserrat;
    color: #615855;
    font-weight: 500;
    font-size: 18px;
    @include mq($tablet) {
      font-size: 16px;
    }
    @include mq($phone) {
      font-size: 14px;
    }
  }
  @include mq($tablet) {
    margin-bottom: 40px;
  }
}
