.data {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 60px;
  height: 100%;

  .banner__item {
    @include hover {
      cursor: crosshair;
    }
  }

  i {
    font-size: 48px;
    color: $main-light;
  }

  .item__number,
  .item__text {
    font-family: "Montserrat";
  }
  .item__number {
    @extend .text-xl;
    color: $white;
    font-weight: 200;
  }
  .item__text {
    @extend .text-xs;
    color: $main-light;
    font-weight: 500;
  }
  .item__line {
    width: 30px;
    height: 2px;
    background-color: $white;
    margin: 30px auto 0 auto;
  }
  @include mq($tablet) {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
    i {
      font-size: 24px;
    }
    .item__line {
      margin-top: 20px;
    }
  }
}
