.footer {
  @extend .container;
  @extend .flex-row-space-between;
  flex-wrap: wrap;
  height: 111px;
  background-color: $footer-dark;

  .footer__section {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
    .footer__text:last-child {
      &::after {
        display: none;
      }
    }
  }
  .footer__text {
    @extend .text-xs;
    position: relative;
    height: fit-content;
    color: $grey-text;
    font-family: "Montserrat";
    font-weight: 500;
    &::after {
      content: "";
      position: absolute;
      right: -13px;
      top: 6px;
      height: 13px;
      width: 1px;
      background-color: $dark-black;
    }
    a {
      color: #959595;
    }
  }
  a {
    transition: color 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    @include hover {
      color: $main-light;
    }
  }

  @include mq($lap-small) {
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 5px;

    .footer__section {
      gap: 8px;

      .footer__text {
        &::after {
          display: none;
        }
      }
    }
  }
}
