.hero,
.hero__wrapper,
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero,
.swiper {
  height: 100vh;
  width: 100vw;
}

.hero__wrapper,
.swiper-slide {
  @extend .container;
}
.swiper-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.hero__title,
.hero__subtitle {
  color: $white;
}

.hero__title {
  font-family: "Raleway";
  text-align: center;
  span:first-of-type {
    font-size: 36px;
    font-weight: 500;
    @include mq($tablet) {
      font-size: 24px;
    }
    @include mq($phone) {
      font-size: 22px;
    }
  }
  span:last-of-type {
    @extend .text-xxl;
    @include mq($tablet) {
      font-size: 36px;
    }
    @include mq($phone) {
      font-size: 32px;
      line-height: 1;
    }
  }
}

.hero__subtitle {
  font-family: "Montserrat";
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  max-width: 562px;
  @extend .text-sm;
}

.swiper-button-next,
.swiper-button-prev {
  color: #d3c1ad !important;
}

.swiper-button-next {
  right: 150px !important;
  @include mq(1750) {
    right: 50px !important;
  }
  @include mq($tablet) {
    right: 5px !important;
  }
}
.swiper-button-prev {
  left: 150px !important;
  @include mq(1750) {
    left: 50px !important;
  }
  @include mq($tablet) {
    left: 5px !important;
  }
}

.swiper-pagination-bullet {
  background: #aaaaab !important;
}
.swiper-pagination-bullet-active {
  background: #555556 !important;
  outline: 2px solid #d3c1ad;
}
.swiper-pagination {
  margin-bottom: 42px;
}
