.mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .container;

  li img {
    width: 30px;
    height: 30px;
  }
  @include mq($tablet) {
    flex-direction: column-reverse;

    .mobile__text {
      margin-bottom: 20px;
    }
    .mobile__list {
      padding-left: 0;
    }
    .mobile__image {
      margin-top: 40px;
    }
  }

  @include mq($phone) {
    .mobile__list li {
      gap: 10px;
    }
  }
}

.mobile__title {
  font-family: "Raleway";
  font-weight: 600;
  @extend .text-lg;
  color: #555555;
  margin-bottom: 20px;
}

.mobile__text {
  margin-bottom: 40px;
}
.mobile__text,
.mobile__list li {
  font-family: "Montserrat";
  color: #8c8c8c;
  font-weight: 500;
  text-align: left;
  @extend .text-sm;
}

.mobile__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  li {
    display: flex;
    gap: 29px;
  }
}
