@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-210px * 4 - 90px * 4));
  }
}
.partners {
  @extend .container;
  height: 490px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  .slider {
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    .slide-track {
      @extend .flex-row-center;
      gap: 90px;
      height: 100%;
      width: calc(90px * 8 + 210px * 8);
      animation: scroll 12s linear infinite;
      @include hover {
        animation-play-state: paused;
      }
    }
    .slide {
      height: auto;
      width: 210px;
      transition: transform 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
      img {
        @extend .full-w-h;
      }
      @include hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }
  @include mq($phone) {
    height: 300px;
    .slider .slide {
      transform: scale(0.8);
    }
  }
}
