.projects__chips {
  display: flex;
  gap: 10px;
  margin-bottom: 40px;
  flex-wrap: wrap;

  .chip {
    border-radius: 3px;
    font-family: "Montserrat";
    font-weight: 500;
    color: $grey-text;
    border: 1px solid #ebebeb;
    position: relative;
    height: 100%;

    .chip__indicator {
      @extend .full-w-h;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $white;
      z-index: -1;
      transition: background-color 0.25s ease;
    }
    label {
      display: block;
      padding: 10px 21px;
      @extend .text-xs;
      @include hover {
        cursor: pointer;
      }
    }
    .chip__checkbox {
      display: none;
      &:checked + label {
        color: $white;
      }
      &:checked ~ .chip__indicator {
        background-color: $main-dark;
      }
    }
  }
  @include mq($phone) {
    .chip {
      label {
        padding: 6px 18px;
        @include hover {
          cursor: pointer;
        }
      }
    }
  }
}

.item__wrapper,
.item__triangle {
  transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.projects__item {
  position: relative;
  .item__triangle {
    position: absolute;
    top: -30px;
    left: 20px;
    width: 30px;
    height: 30px;
    background-color: #fbfaf8;
  }
  .item__title {
    color: $main-light;
    transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .item__category {
    color: #d1d1d1;
  }
  .item__controls {
    @extend .flex-row-center;
    position: absolute;
    top: 106px;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 32px;
    i {
      font-size: 28px;
      color: $white;
      opacity: 0;
      transition: color 0.3s cubic-bezier(0.19, 1, 0.22, 1),
        opacity 0.25s cubic-bezier(0.19, 1, 0.22, 1);
      @include hover {
        color: $main-light;
      }
    }
  }

  @include hover {
    cursor: pointer;
    .item__title {
      color: $white;
    }
    .item__wrapper,
    .item__triangle {
      background-color: #362f2d;
    }
    .item__category {
      color: $main-light;
    }
    .item__image {
      filter: brightness(0.5);
    }
    i {
      opacity: 1;
    }
  }
}
