.read-more {
  display: flex;
  gap: 30px;
  @extend .container;
  justify-content: center;
  align-items: flex-start;
  background-color: $footer-light;
  padding-top: 80px;
  padding-bottom: 80px;
  .logo {
    margin-bottom: 30px;
  }
  .read-more__text,
  .read-more__link,
  .read-more__date {
    font-family: "Montserrat";
  }
  .read-more__text {
    color: #555;
    font-weight: 500;
    @extend .text-xs;

    a {
      color: #959595;
    }
  }
  .read-more__link {
    color: $white;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 36px;
  }
  .read-more__title {
    position: relative;
    top: 15px;
    font-family: "Raleway";
    font-weight: 800;
    color: $white;
    margin-bottom: 40px;
    @extend .text-md;
  }
  .read-more__date {
    @extend .text-xxs;
    color: #363636;
  }
  .read-more__line {
    width: 100%;
    height: 1px;
    background-color: #252525;
    margin-top: 21px;
  }
  .read-more__post {
    width: 280px;
    margin-bottom: 20px;
  }
  .read-more__higlight {
    color: #00bff3;
  }
  .read-more__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 271px;
    img {
      width: 131px;
      height: 98px;
      object-fit: cover;
    }
  }

  @include mq($lap-small) {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    .read-more__post,
    .read-more__content {
      width: 100%;
    }
    .logo {
      margin-bottom: 15px;
    }
    .read-more__link {
      margin-top: 18px;
    }
  }
}
