.posts {
  margin-bottom: 142px;
  position: relative;
  .grid__item {
    position: relative;
  }
  .item__title {
    color: $grey-text;
  }
  .item__category {
    color: #8c8c8c;
  }
  a {
    display: flex;
    align-items: center;
    gap: 9px;
    color: $main-light;
    font-family: "Montserrat";
    font-weight: 500;
    margin-top: 20px;
  }
  .item__date {
    position: absolute;
    top: 20px;
    left: 20px;
    color: $white;
    font-family: "Montserrat";
    .item__date-value {
      background-color: #363636;
      @extend .text-md;
      font-weight: 500;
      border-radius: 3px 3px 0 0;
      padding: 0 9px;
    }
    .item__date-month {
      @extend .text-xs;
      background-color: $dark-black;
      font-weight: 300;
      padding: 0 9px;
      border-radius: 0 0 3px 3px;
    }
  }
  .postsSwiper,
  .posts__item {
    width: 100%;
    height: fit-content;
  }
  .item__image {
    width: 100%;
    height: 237px;
    object-fit: cover;
  }
  .item__wrapper {
    background-color: #fbfaf8;
    padding: 30px 29px 27px 29px;
    position: relative;
    width: 100%;
  }
  .item__title {
    @extend .text-md;
    font-family: "Raleway";
    color: $main-light;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .item__category {
    @extend .text-xs;
    font-family: "Montserrat";
    font-weight: 500;
  }
  .swiper-slide {
    padding: 0;
  }
  .swiper-wrapper,
  .swiper {
    position: static;
  }
  .swiper-buttons {
    @extend .flex-row-center;
    position: absolute;
    gap: 8px;
    width: 100%;
    height: 22px;
    z-index: 25;
    bottom: -80px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: static !important;
    width: 22px !important;
    height: 22px !important;
    border: 2px solid #d7d7d7;
    border-radius: 50%;
    transition: 0.2s border-color ease;
    i {
      color: #d7d7d7;
    }
    @include hover {
      border-color: $main-light;
      i {
        color: $main-light;
        transition: 0.2s color ease;
      }
    }
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: "";
  }

  .swiper-slide-next {
    .item__image {
      filter: brightness(0.5);
    }
    .item__wrapper {
      background-color: #362f2d;
      .item__category {
        color: $white;
      }
    }
  }

  @include mq($phone) {
    .swiper-slide-active {
      .item__image {
        filter: brightness(0.5);
      }
      .item__wrapper {
        background-color: #362f2d;
        .item__category {
          color: $white;
        }
      }
    }
  }
}
