.video {
  height: 700px;
  width: 100%;
  background-color: $main-light;
  margin-top: 80px;
  margin-bottom: 80px;
  position: relative;
  .video-container {
    @extend .full-w-h;
    position: absolute;
    top: 0;
    left: 0;
    video {
      @extend .full-w-h;
      object-fit: cover;
    }
  }

  .video__content {
    @extend .center-absolute;
    @extend .flex-column-center;
    width: 100%;
    max-width: 555px;
    color: $white;
    text-align: center;
    gap: 20px;
    padding: 0 30px;
    .video__title {
      @extend .text-lg;
      font-family: "Raleway";
      font-weight: 700;
    }
    .video__subtitle {
      @extend .text-sm;
      font-family: "Montserrat";
    }
    .video__time {
      @extend .text-xs;
      font-family: "Montserrat";
      color: $main-light;
      font-weight: 500;
    }
  }
  .video-control {
    border: none;
    background-color: rgba(#000000, 0.2);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 44px;
    i {
      color: $white;
      @extend .text-lg;
    }
    @include hover {
      cursor: pointer;
    }
  }

  .video-control:not(.playing) .video-control-pause,
  .video-control.playing .video-control-play {
    display: none;
  }

  @include mq($tablet) {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
