@import "abstracts/fonts";
@import "abstracts/mixins";
@import "base/reset";
@import "base/utils";
@import "base/breakpoints";
@import "layouts/header";
@import "layouts/hero";

h1 {
  font-family: "Montserrat";
  font-family: "Raleway";
  font-family: "Roboto";
}
